Repository Re-taro/re-taro.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fmt

🍱 update assets
  public/not_found_dark.svg
  public/not_found_light.svg
Due: none

🏷️ add document
  graphql/documents/about.graphql
  src/graphql/index.ts
Due: npm run lint:fix

✨ update policy
  next.config.js
Due: npm run lint:fix

🔧 update tsconfig.json
  .eslintignore
Due: none

✨ update layer box
  src/components/templates/layout/index.tsx
Due: npm run lint:fix

✨ fix design
  src/components/molecules/hamburger/index.tsx
  src/components/molecules/navigation/index.tsx
  src/components/organisms/header/index.tsx
Due: npm run lint:fix

✨ create an atomic component
  src/components/atoms/image/index.tsx
  src/pages/404.tsx
Due: npm run lint:fix

✨ add divider component
  src/components/atoms/divider/index.tsx
Due: npm run lint:fix

✨ update footer
  src/components/atoms/image/index.tsx
  src/components/organisms/footer/index.tsx
Due: npm run lint:fix

🐛 fix bug
  src/components/organisms/footer/index.tsx
Due: npm run lint:fix

🚧 wip
  package.json
  pnpm-lock.yaml
  src/components/molecules/spotify/index.tsx
  src/components/organisms/footer/index.tsx
  src/pages/api/spotify.ts
  src/services/auth/get-access-token.ts
  src/services/constants.ts
  src/services/fetcher.ts
  src/services/now-playing/index.ts
  src/services/now-playing/types.ts
  src/utils/fetcher.ts
Due: npm run lint:fix, npm run fmt

⚰️ remove spotify
  src/components/organisms/footer/index.tsx
Due: npm run lint:fix

Update devDependencies
  package.json
  pnpm-lock.yaml
Due: npm run fmt

✨ fix icons to font awesome 5
  src/components/molecules/navigation/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/organisms/projects/index.tsx
Due: npm run lint:fix

🧑‍💻 update webstorm setting
  .idea/discord.xml
Due: none

✨ create about page
  src/components/molecules/link-item/index.tsx
  src/components/organisms/content/index.tsx
  src/components/organisms/heading/index.tsx
  src/components/organisms/links/index.tsx
  src/components/templates/about/index.tsx
  src/pages/about/index.tsx
Due: npm run lint:fix

🏷️ update types
  src/components/organisms/footer/index.tsx
  src/pages/index.tsx
Due: npm run lint:fix

🔍️ improve seo
  src/components/molecules/link-item/index.tsx
Due: npm run lint:fix

✨ slice projects and posts
  src/components/molecules/card/index.tsx
  src/components/molecules/post-card/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/organisms/projects/index.tsx
Due: npm run lint:fix

🏷️ update types
  src/components/molecules/post-card/index.tsx
  src/components/organisms/posts/index.tsx
Due: npm run lint:fix

✨ update graphql schema
  graphql/documents/home.graphql
  graphql/graphql.schema.json
  src/graphql/index.ts
Due: npm run lint:fix, npm run fmt

🎨 format the code
  src/components/organisms/content/index.tsx
  src/components/organisms/footer/index.tsx
  src/components/organisms/heading/index.tsx
Due: npm run lint:fix

✨ add timeline section
  package.json
  pnpm-lock.yaml
  src/components/molecules/timeline-item/index.tsx
  src/components/organisms/timeline/index.tsx
  src/components/templates/home/index.tsx
  src/utils/date.ts
Due: npm run lint:fix, npm run fmt

🎨 format the code
  src/components/organisms/timeline/index.tsx
  src/components/templates/home/index.tsx
Due: npm run lint:fix

Pin dependency dayjs to 1.11.1
  package.json
  pnpm-lock.yaml
Due: npm run fmt

🏷️ remove unuse type
  src/components/organisms/hero/index.tsx
Due: npm run lint:fix

📝 update README
  README.md
Due: none

🧑‍💻 update ide config
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
Due: none

✨ update graphql schema
  graphql/documents/home.graphql
  graphql/documents/works.graphql
  graphql/graphql.schema.json
  src/graphql/index.ts
Due: npm run lint:fix, npm run fmt

✨ update embed
  src/components/molecules/post-card/index.tsx
Due: npm run lint:fix

✨ reverse data
  src/components/molecules/card/index.tsx
  src/components/molecules/post-card/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/organisms/projects/index.tsx
Due: npm run lint:fix

✨ update graphql schema
  graphql/documents/works.graphql
  graphql/graphql.schema.json
  src/graphql/index.ts
Due: npm run lint:fix, npm run fmt

✨ rename args
  src/components/molecules/card/index.tsx
  src/components/molecules/post-card/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/organisms/projects/index.tsx
Due: npm run lint:fix

➕ add babel plugin
  package.json
  pnpm-lock.yaml
Due: npm run fmt

👷 update CI
  .github/actions/lighthouse/action.yml
  .github/actions/lighthouse/dist/index.js
  .github/actions/lighthouse/dist/package.json
  .github/actions/lighthouse/package.json
  .github/actions/lighthouse/pnpm-lock.yaml
  .github/actions/lighthouse/src/main.ts
  .github/workflows/lighthouse.yml
Due: npm run lint:fix, npm run fmt

👷 fix CI
  .github/workflows/lighthouse.yml
Due: npm run fmt

Pin dependency @babel/plugin-transform-react-jsx to 7.17.3
  package.json
Due: npm run fmt

Path conditions:
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
