Repository Re-taro/re-taro.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fmt

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}': npm run lint:fix
'*.{json,yml,yaml,toml}': npm run fmt

✨ create works list page
  graphql/documents/works.graphql
  src/components/molecules/project-card/index.tsx
  src/components/templates/works/index.tsx
  src/graphql/index.ts
  src/pages/works/index.tsx
  src/utils/gen-ogp.ts
Due: npm run lint:fix

✨ rename alt
  src/components/templates/works/index.tsx
Due: npm run lint:fix

🎨 change the performance
  src/components/molecules/card/index.tsx
  src/components/organisms/projects/index.tsx
Due: npm run lint:fix

🚚 rename endpoint
  src/components/molecules/navigation/index.tsx
Due: npm run lint:fix

✨ change the component polymorphism
  src/components/molecules/post-card/index.tsx
  src/components/organisms/posts/index.tsx
Due: npm run lint:fix

✨ create posts page
  graphql/documents/posts.graphql
  src/components/templates/posts/index.tsx
  src/graphql/index.ts
  src/pages/posts/index.tsx
Due: npm run lint:fix

✨ prefetch the endpoint
  src/components/templates/posts/index.tsx
  src/components/templates/works/index.tsx
Due: npm run lint:fix

👷 add dipatch prod deploy CI
  .github/workflows/dispatch.yml
Due: npm run fmt

✨ update graphql document
  graphql/documents/home.graphql
  graphql/documents/post.graphql
  graphql/documents/posts.graphql
  graphql/graphql.schema.json
Due: npm run fmt

✨ update Text component
  src/components/atoms/text/index.tsx
Due: npm run lint:fix

♻️ refactor code which text component was use
  src/components/molecules/card/index.tsx
  src/components/molecules/project-card/index.tsx
  src/components/organisms/content/index.tsx
  src/components/organisms/heading/index.tsx
  src/components/organisms/projects/index.tsx
  src/components/templates/posts/index.tsx
  src/pages/404.tsx
Due: npm run lint:fix

🏷️ update types
  src/components/molecules/post-card/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/templates/works/index.tsx
  src/graphql/index.ts
Due: npm run lint:fix

✨ create tag component
  src/components/atoms/tag/index.tsx
Due: npm run lint:fix

Pin dependencies
  package.json
Due: npm run fmt

➕ add lock file
  pnpm-lock.yaml
Due: npm run fmt

Update dependency next to v12.1.6
  package.json
Due: npm run fmt

✨ update graphql schema
  graphql/documents/home.graphql
  graphql/documents/post.graphql
  graphql/documents/tag.graphql
  graphql/documents/tags.graphql
  graphql/graphql.schema.json
  src/graphql/index.ts
Due: npm run lint:fix, npm run fmt

🏷️ update typescript target to es6
  tsconfig.json
Due: npm run fmt

✏️ fix name
  src/pages/posts/index.tsx
Due: npm run lint:fix

♻️ refactor algorithm
  src/components/molecules/card/index.tsx
  src/components/molecules/project-card/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/organisms/projects/index.tsx
  src/components/templates/posts/index.tsx
  src/components/templates/works/index.tsx
Due: npm run lint:fix

🎨 format the code
  src/components/atoms/tag/index.tsx
Due: npm run lint:fix

🙈 update git ignore
  .gitignore
Due: none

✨ create tags page
  src/components/templates/tags/index.tsx
  src/pages/tags/index.tsx
Due: npm run lint:fix

✨ update next urql config
  src/pages/index.tsx
  src/pages/tags/index.tsx
  src/pages/works/index.tsx
Due: npm run lint:fix

✨ create tag page
  src/components/templates/tag/index.tsx
  src/pages/tags/[tag]/index.tsx
Due: npm run lint:fix

🎨 format the code
  src/pages/tags/[tag]/index.tsx
Due: npm run lint:fix

✏️ fix typo
  src/components/templates/posts/index.tsx
Due: npm run lint:fix

♻️ refactor algorithm
  src/components/templates/tags/index.tsx
Due: npm run lint:fix

✨ create custom components
  src/components/molecules/image/index.tsx
  src/components/molecules/link/index.tsx
Due: npm run lint:fix

✨ create custom parser
  package.json
  pnpm-lock.yaml
  src/utils/parser.ts
  src/utils/rehype-react.ts
Due: npm run lint:fix, npm run fmt

🧑‍💻 update ide setting
  .idea/jsLibraryMappings.xml
  .idea/watcherTasks.xml
Due: none

➕ add sass dependence
  package.json
  pnpm-lock.yaml
Due: npm run fmt

🔧 update postcss config
  postcss.config.js
Due: npm run lint:fix

🔧 update tsconfig
  tsconfig.json
Due: npm run fmt

🏷️ update types
  src/pages/about/index.tsx
  src/pages/index.tsx
  src/pages/posts/index.tsx
  src/pages/tags/index.tsx
  src/pages/works/index.tsx
Due: npm run lint:fix

✨ update parser
  src/utils/parser.ts
  src/utils/rehype-react.ts
Due: npm run lint:fix

✨ update styles file
  src/styles/global.scss
  src/styles/post.module.scss
Due: none

✨ add global style
  src/pages/_app.tsx
Due: npm run lint:fix

✨ create post page
  src/components/organisms/post-head/index.tsx
  src/components/organisms/post-meta/index.tsx
  src/components/templates/post/index.tsx
  src/pages/posts/[id]/index.tsx
Due: npm run lint:fix
