Repository Re-taro/re-taro.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fmt

Update pnpm/action-setup action to v2.2.2
  .github/workflows/dev.yml
  .github/workflows/eslint.yml
  .github/workflows/lighthouse.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
Due: npm run fmt

Update dependencies (non-major)
  package.json
  pnpm-lock.yaml
Due: npm run fmt

Update dependency @types/react to v18.0.10
  package.json
  pnpm-lock.yaml
Due: npm run fmt

Update dependency urql to v2.2.1
  package.json
  pnpm-lock.yaml
Due: npm run fmt

Update dependency sass to v1.52.2
  package.json
  pnpm-lock.yaml
Due: npm run fmt

Update devDependencies
  package.json
  pnpm-lock.yaml
Due: npm run fmt

Update dependency dayjs to v1.11.3
  package.json
  pnpm-lock.yaml
Due: npm run fmt

Update amondnet/vercel-action action to v25
  .github/workflows/dev.yml
  .github/workflows/dispatch.yml
  .github/workflows/prod.yml
Due: npm run fmt

✨ update schema
  codegen.yml
  graphql/documents/home.graphql
  graphql/documents/work.graphql
  graphql/documents/works.graphql
  graphql/graphql.schema.json
  graphql/schema.graphql
  src/components/molecules/card/index.tsx
  src/components/molecules/project-card/index.tsx
  src/components/organisms/seo/index.tsx
  src/components/organisms/work-head/index.tsx
  src/components/templates/work/index.tsx
  src/graphql/index.ts
  src/pages/404.tsx
  src/pages/about/index.tsx
  src/pages/index.tsx
  src/pages/posts/[id]/index.tsx
  src/pages/posts/index.tsx
  src/pages/tags/[tag]/index.tsx
  src/pages/tags/index.tsx
  src/pages/works/[id]/index.tsx
  src/pages/works/index.tsx
Due: npm run lint:fix, npm run fmt

✨ update name
  graphql/documents/home.graphql
  graphql/documents/work.graphql
  graphql/documents/works.graphql
  graphql/graphql.schema.json
  graphql/schema.graphql
  src/components/molecules/card/index.tsx
  src/components/molecules/project-card/index.tsx
  src/components/organisms/seo/index.tsx
  src/components/organisms/work-head/index.tsx
  src/components/templates/work/index.tsx
  src/graphql/index.ts
  src/pages/404.tsx
  src/pages/about/index.tsx
  src/pages/index.tsx
  src/pages/posts/[id]/index.tsx
  src/pages/posts/index.tsx
  src/pages/tags/[tag]/index.tsx
  src/pages/tags/index.tsx
  src/pages/works/[id]/index.tsx
  src/pages/works/index.tsx
Due: npm run lint:fix, npm run fmt

👷 add auto pr and merge CI
  .github/workflows/graphql.yml
Due: npm run fmt

✨ update schema
  graphql/schema.graphql
Due: none

🤖 Update schema.graphql
  graphql/schema.graphql
Due: none

🚀 v1.1.0
  package.json
Due: npm run fmt

🔑 add keybase.txt
  public/.well-known/keybase.txt
  public/keybase.txt
Due: none

👷 fix CI
  .github/workflows/dev.yml
  renovate.json
Due: npm run fmt

✨ upgrade link widget
  src/components/molecules/link-widget/index.tsx
Due: npm run lint:fix

🐛 fix port
  src/utils/client.ts
Due: npm run lint:fix

Path conditions:
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
