Repository Re-taro/re-taro.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fmt

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}': npm run lint:fix
'*.{json,yml,yaml,toml}': npm run fmt

⚡️ fix svg file
  public/avatar.svg
Due: none

🔍️ update SEO
  package.json
  pnpm-lock.yaml
  src/pages/_app.tsx
  src/utils/.gitkeep
  src/utils/next-seo.ts
Due: npm run lint:fix, npm run fmt

✨ update theme provider
  package.json
  pnpm-lock.yaml
  src/@types/next-themes.d.ts
  src/components/molecules/toggle-button/index.tsx
  src/pages/_app.tsx
Due: npm run lint:fix, npm run fmt

🙈 update ignore
  .eslintignore
  .prettierignore
Due: none

✨ update sitemap
  public/sitemap-0.xml
Due: none

🧑‍💻 idea
  .idea/.gitignore
  .idea/discord.xml
  .idea/inspectionProfiles/Project_Default.xml
Due: none

✨ ignore auto gen files
  .gitignore
  public/sitemap-0.xml
  public/sitemap.xml
Due: none

🔥 remove gitkeep
  src/components/organisms/.gitkeep
Due: none

🔧 update next.js config
  next.config.js
Due: npm run lint:fix

➕ add tailwind css plugin
  package.json
  pnpm-lock.yaml
Due: npm run fmt

🎨 add my own color pallet
  tailwind.config.js
Due: npm run lint:fix

🐛 fix eslint bug
  src/components/atoms/button/index.tsx
Due: npm run lint:fix

⚡️ change the link component to next.js's next/link
  src/components/molecules/navi-button/index.tsx
  src/components/organisms/header/index.tsx
  src/components/organisms/navigation/index.tsx
Due: npm run lint:fix

✨ create layout
  src/components/templates/layout/index.tsx
  src/pages/_app.tsx
Due: npm run lint:fix

👷 create Lighthouse CI
  .github/actions/lighthouse/action.yml
  .github/actions/lighthouse/dist/index.js
  .github/actions/lighthouse/dist/package.json
  .github/actions/lighthouse/package.json
  .github/actions/lighthouse/pnpm-lock.yaml
  .github/actions/lighthouse/src/main.ts
  .github/workflows/lighthouse.yml
  .gitignore
Due: npm run lint:fix, npm run fmt

🚑️ hotfix ci
  .github/workflows/lighthouse.yml
  lighthouserc.js
Due: npm run lint:fix, npm run fmt

🚑️ fix command
  .github/workflows/lighthouse.yml
  package.json
Due: npm run fmt

🚑️ hotfix
  lighthouserc.js
Due: npm run lint:fix

✨ update client
  package.json
  pnpm-lock.yaml
  src/utils/client.ts
Due: npm run lint:fix, npm run fmt

✨ update hero component
  src/components/organisms/hero/index.tsx
Due: npm run lint:fix

Pin dependencies
  package.json
  pnpm-lock.yaml
Due: npm run fmt

✨ create graphql schema and types for urql
  .eslintignore
  codegen.yml
  graphql/graphql.schema.json
  graphql/schema.graphql
  graphql/schemas/fetchBasic.graphql
  graphql/schemas/fetchBio.graphql
  graphql/schemas/fetchPost.graphql
  graphql/schemas/fetchPosts.graphql
  graphql/schemas/fetchWork.graphql
  graphql/schemas/fetchWorks.graphql
  package.json
  pnpm-lock.yaml
  src/graphql/index.ts
Due: npm run lint:fix, npm run fmt

Update devDependencies
  .github/actions/lighthouse/package.json
  .github/actions/lighthouse/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: npm run fmt

⬇️ downgrade dependence
  package.json
  pnpm-lock.yaml
Due: npm run fmt

🔧 update Next.js config
  next.config.js
Due: npm run lint:fix

🎨 update tailwind color pallets
  tailwind.config.js
Due: npm run lint:fix

✨ update button components
  src/components/atoms/button/index.tsx
Due: npm run lint:fix

✨ create grid component
  src/components/atoms/grid/index.tsx
Due: npm run lint:fix

✨ create card component
  src/components/molecules/card/index.tsx
Due: npm run lint:fix

♻️ refactor props
  src/components/molecules/navi-button/index.tsx
  src/components/molecules/toggle-button/index.tsx
  src/components/organisms/navigation/index.tsx
Due: npm run lint:fix

🏷️ update types
  src/components/organisms/hero/index.tsx
Due: npm run lint:fix

✨ create project page component
  src/components/organisms/projects/index.tsx
Due: npm run lint:fix

🔥 remove keep file
  src/components/templates/.gitkeep
Due: none

🔍️ add aria-label to button
  src/components/molecules/card/index.tsx
  src/components/molecules/navi-button/index.tsx
  src/components/molecules/toggle-button/index.tsx
  src/components/organisms/navigation/index.tsx
  src/components/organisms/projects/index.tsx
Due: npm run lint:fix

✨ create emoji wrapper
  src/components/atoms/twemojii/index.tsx
Due: npm run lint:fix

🏷️ export types
  src/components/organisms/hero/index.tsx
  src/components/organisms/projects/index.tsx
Due: npm run lint:fix

✨ create post card component
  src/components/molecules/post-card/index.tsx
Due: npm run lint:fix

✨ create posts section component
  src/components/organisms/posts/index.tsx
Due: npm run lint:fix

✨ create home page template
  src/components/templates/home/index.tsx
Due: npm run lint:fix

➕ add urql and code generator
  codegen.yml
  package.json
  pnpm-lock.yaml
Due: npm run fmt
