Repository Re-taro/re-taro.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fmt

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}': npm run lint:fix
'*.{json,yml,yaml,toml}': npm run fmt

🗃️ update graphql schema
  graphql/documents/home.graphql
  graphql/graphql.schema.json
  graphql/schema.graphql
  graphql/schemas/fetchBasic.graphql
  graphql/schemas/fetchBio.graphql
  graphql/schemas/fetchPost.graphql
  graphql/schemas/fetchPosts.graphql
  graphql/schemas/fetchWork.graphql
  graphql/schemas/fetchWorks.graphql
Due: npm run fmt

🏷️ fix types
  src/components/molecules/card/index.tsx
  src/components/molecules/post-card/index.tsx
  src/components/organisms/hero/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/organisms/projects/index.tsx
  src/components/templates/home/index.tsx
  src/graphql/index.ts
  src/utils/client.ts
Due: npm run lint:fix

✨ update home page
  src/pages/index.tsx
Due: npm run lint:fix

🔥 remove url
  src/components/molecules/card/index.tsx
Due: npm run lint:fix

👷 add deploy ci
  .github/workflows/dev.yml
  .github/workflows/lighthouse.yml
  .github/workflows/prod.yml
Due: npm run fmt

🐛 fix lock file
  pnpm-lock.yaml
Due: npm run fmt

🔥 remove husky
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.yml
  package.json
  pnpm-lock.yaml
Due: npm run fmt

👷 add some CI
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
Due: npm run fmt

🔧 add vercel config json
  vercel.json
Due: npm run fmt

👷 fix CI
  .github/actions/lighthouse/dist/index.js
  .github/actions/lighthouse/src/main.ts
  lighthouserc.js
Due: npm run lint:fix

🐛 fix bug
  .github/workflows/lighthouse.yml
Due: npm run fmt

Update devDependencies
  .github/actions/lighthouse/package.json
  .github/actions/lighthouse/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Due: npm run fmt

👷 update CI
  .github/workflows/test.yml
Due: npm run fmt

Update dependencies (non-major)
  package.json
  pnpm-lock.yaml
Due: npm run fmt

👷 fix CI
  .github/workflows/lighthouse.yml
Due: npm run fmt

🔥 remove unuse types
  src/components/molecules/card/index.tsx
Due: npm run lint:fix

Update actions/checkout action to v3
  .github/workflows/lighthouse.yml
Due: npm run fmt

🎨 fix colors
  src/components/atoms/button/index.tsx
  src/components/molecules/navi-button/index.tsx
  src/components/molecules/toggle-button/index.tsx
  src/components/organisms/navigation/index.tsx
  src/components/templates/layout/index.tsx
Due: npm run lint:fix

✨ update header
  src/components/organisms/header/index.tsx
Due: npm run lint:fix

🏷️ update staticProps function types
  src/pages/index.tsx
Due: npm run lint:fix

✨ update hamburger menu
  src/components/organisms/hamburger/index.tsx
  src/components/organisms/header/index.tsx
  src/components/organisms/navigation/index.tsx
Due: npm run lint:fix

🎨 fix font size
  src/components/organisms/hero/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/organisms/projects/index.tsx
Due: npm run lint:fix

✨ update emoji
  package.json
  pnpm-lock.yaml
  src/components/atoms/twemojii/index.tsx
Due: npm run lint:fix, npm run fmt

✨ fix icon
  src/components/molecules/toggle-button/index.tsx
Due: npm run lint:fix

✨ fix motion
  src/components/molecules/navi-button/index.tsx
  src/components/molecules/toggle-button/index.tsx
  src/components/organisms/hamburger/index.tsx
Due: npm run lint:fix

✨ fix heading component
  src/components/molecules/post-card/index.tsx
  src/components/molecules/toggle-button/index.tsx
  src/components/organisms/header/index.tsx
  src/components/organisms/hero/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/organisms/projects/index.tsx
Due: npm run lint:fix

✨ fix transition
  src/components/atoms/button/index.tsx
  src/components/atoms/heading/index.tsx
  src/components/atoms/text/index.tsx
  src/components/molecules/card/index.tsx
  src/components/molecules/navi-button/index.tsx
  src/components/molecules/post-card/index.tsx
  src/components/molecules/toggle-button/index.tsx
  src/components/organisms/hamburger/index.tsx
  src/components/organisms/header/index.tsx
  src/components/organisms/hero/index.tsx
Due: npm run lint:fix

✨ update layout styles
  src/components/templates/layout/index.tsx
Due: npm run lint:fix

🎨 format the codes
  src/components/atoms/button/index.tsx
  src/components/organisms/hamburger/index.tsx
Due: npm run lint:fix

✨ update original 404 page
  public/not_found_dark.svg
  public/not_found_light.svg
  src/pages/404.tsx
Due: npm run lint:fix

🏷️ update types
  src/@types/next-themes.d.ts
Due: npm run lint:fix

✨ fix UI
  src/components/organisms/hero/index.tsx
Due: npm run lint:fix

Update dependency @types/react to v18
  package.json
  pnpm-lock.yaml
Due: npm run fmt

✨ update images
  next.config.js
  package.json
  pnpm-lock.yaml
Due: npm run lint:fix, npm run fmt

✨ fix work card
  src/components/molecules/card/index.tsx
Due: npm run lint:fix

✨ update button text
  src/components/molecules/card/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/organisms/projects/index.tsx
  src/pages/404.tsx
Due: npm run lint:fix

🍱 update assets
  public/not_found_dark.svg
  public/not_found_light.svg
Due: none

🏷️ update duplicate types and format
  .eslintrc.yml
  next.config.js
  src/components/atoms/button/index.tsx
  src/components/atoms/heading/index.tsx
  src/components/atoms/twemojii/index.tsx
  src/components/molecules/card/index.tsx
  src/components/molecules/navi-button/index.tsx
  src/components/molecules/post-card/index.tsx
  src/components/molecules/toggle-button/index.tsx
  src/components/organisms/footer/index.tsx
  src/components/organisms/hamburger/index.tsx
  src/components/organisms/header/index.tsx
  src/components/organisms/hero/index.tsx
  src/components/organisms/navigation/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/organisms/projects/index.tsx
  src/components/templates/home/index.tsx
  src/components/templates/layout/index.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: npm run lint:fix, npm run fmt
