Repository Re-taro/re-taro.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fmt

chore: update title
  app/root.tsx
Due: npm run lint:fix

build: fix terser option (#1248)
  app/root.tsx
  vite.config.ts
Due: npm run lint:fix

fix: update heading size
  app/components/Header/Header.tsx
  panda.config.ts
Due: npm run lint:fix

fix: update heading size (#1258)
  app/components/Header/Header.tsx
  panda.config.ts
Due: npm run lint:fix

feat: add timeline about wdc 2024
  contents/timeline/wdc-2024.md
Due: none

feat: add timeline about wdc 2024 (#1259)
  contents/timeline/wdc-2024.md
Due: none

refactor: remove better-sqlite
  package.json
  pnpm-lock.yaml
Due: npm run fmt

refactor: remove better-sqlite (#1320)
  package.json
  pnpm-lock.yaml
Due: npm run fmt

build: add v3 features
  vite.config.ts
Due: npm run lint:fix

build: add v3 features (#1424)
  vite.config.ts
Due: npm run lint:fix

build: set _routes.json and _headers
  public/_headers
  public/_routes.json
Due: npm run fmt

build: set _routes.json and _headers (#1429)
  public/_headers
  public/_routes.json
Due: npm run fmt

feat: initialize works page
  app/routes/_cd.works.$work/route.tsx
  app/routes/_cd.works/route.tsx
  tests/works.$work.test.ts
  tests/works.test.ts
Due: npm run lint:fix

refactor: update panda css config
  app/components/Footer/Footer.tsx
  app/components/Header/Header.tsx
  app/root.tsx
  app/routes/_cd.about/features/ListItem/ListItem.tsx
  app/routes/_cd.about/features/SocialLink/SocialLink.tsx
  app/routes/_cd.about/route.tsx
  app/routes/_cd.timeline/features/TimelineItem/TimelineItem.tsx
  app/routes/_cd.timeline/route.tsx
  app/routes/_cd.tsx
  app/routes/_index/features/Hero/Hero.tsx
  app/routes/_index/route.tsx
  package.json
  panda.config.ts
  pnpm-lock.yaml
Due: npm run lint:fix, npm run fmt

feat: impl CarouselDotButton
  app/routes/_cd.works.$work/features/CarouselDotButton/CarouselDotButton.stories.ts
  app/routes/_cd.works.$work/features/CarouselDotButton/CarouselDotButton.tsx
  app/routes/_cd.works.$work/features/CarouselDotButton/index.ts
  app/routes/_cd.works.$work/features/CarouselDotButton/useDotButton.ts
Due: npm run lint:fix

refactor: update page maxWidth
  app/routes/_cd.about/route.tsx
  app/routes/_cd.timeline/route.tsx
  app/routes/_cd.tsx
Due: npm run lint:fix

feat: impl Carousel
  app/constants.ts
  app/routes/_cd.works.$work/features/Carousel/Carousel.stories.ts
  app/routes/_cd.works.$work/features/Carousel/Carousel.tsx
  app/routes/_cd.works.$work/features/Carousel/index.ts
  content-collections.ts
  package.json
  pnpm-lock.yaml
Due: npm run lint:fix, npm run fmt

feat: add togather for sample
  contents/work/togather.md
  public/images/works/togather/togather_1.png
  public/images/works/togather/togather_2.png
  public/images/works/togather/togather_3.png
  public/images/works/togather/togather_4.png
  public/images/works/togather/togather_thumb.png
Due: none

chore: add changeset
  .changeset/tiny-kings-stare.md
Due: none

chore: update temp
  app/routes/_cd.works.$work/route.tsx
  app/routes/_cd.works/route.tsx
  tests/work.test.ts
  tests/works.test.ts
Due: npm run lint:fix

feat: impl Carousel (#1447)
  .changeset/tiny-kings-stare.md
  app/components/Footer/Footer.tsx
  app/components/Header/Header.tsx
  app/constants.ts
  app/root.tsx
  app/routes/_cd.about/features/ListItem/ListItem.tsx
  app/routes/_cd.about/features/SocialLink/SocialLink.tsx
  app/routes/_cd.about/route.tsx
  app/routes/_cd.timeline/features/TimelineItem/TimelineItem.tsx
  app/routes/_cd.timeline/route.tsx
  app/routes/_cd.tsx
  app/routes/_cd.works.$work/features/Carousel/Carousel.stories.ts
  app/routes/_cd.works.$work/features/Carousel/Carousel.tsx
  app/routes/_cd.works.$work/features/Carousel/index.ts
  app/routes/_cd.works.$work/features/CarouselDotButton/CarouselDotButton.stories.ts
  app/routes/_cd.works.$work/features/CarouselDotButton/CarouselDotButton.tsx
  app/routes/_cd.works.$work/features/CarouselDotButton/index.ts
  app/routes/_cd.works.$work/features/CarouselDotButton/useDotButton.ts
  app/routes/_cd.works.$work/route.tsx
  app/routes/_cd.works/route.tsx
  app/routes/_index/features/Hero/Hero.tsx
  app/routes/_index/route.tsx
  content-collections.ts
  contents/work/togather.md
  package.json
  panda.config.ts
  pnpm-lock.yaml
  public/images/works/togather/togather_1.png
  public/images/works/togather/togather_2.png
  public/images/works/togather/togather_3.png
  public/images/works/togather/togather_4.png
  public/images/works/togather/togather_thumb.png
  tests/work.test.ts
  tests/works.test.ts
Due: npm run lint:fix, npm run fmt

chore: fix key in Carousel button
  app/routes/_cd.works.$work/features/Carousel/Carousel.tsx
Due: npm run lint:fix

chore: fix key in Carousel button (#1449)
  app/routes/_cd.works.$work/features/Carousel/Carousel.tsx
Due: npm run lint:fix

feat: add atproto-did
  public/.well-known/atproto-did
Due: none

feat: add works
  content-collections.ts
  contents/timeline/kosen-fes-2023.md
  contents/timeline/kosen-fes-2024.md
  contents/work/blog.md
  contents/work/border.md
  contents/work/jamebu.md
  contents/work/micelle.md
  contents/work/old_portfolio.md
  contents/work/repaint.md
  contents/work/reroad.md
  contents/work/togather.md
  public/images/works/blog/blog_thumb.png
  public/images/works/border/border_1.png
  public/images/works/border/border_2.png
  public/images/works/border/border_3.png
  public/images/works/border/border_thumb.png
  public/images/works/jamebu/jamebu_thumb.png
  public/images/works/micelle/micelle_thumb.jpg
  public/images/works/old_portfolio/old_portfolio_thumb.png
  public/images/works/repaint/repaint_thumb.png
  public/images/works/reroad/reroad_1.png
  public/images/works/reroad/reroad_2.png
  public/images/works/reroad/reroad_3.png
  public/images/works/reroad/reroad_4.png
  public/images/works/reroad/reroad_thumb.png
Due: npm run lint:fix

feat: add works (#1450)
  content-collections.ts
  contents/timeline/kosen-fes-2023.md
  contents/timeline/kosen-fes-2024.md
  contents/work/blog.md
  contents/work/border.md
  contents/work/jamebu.md
  contents/work/micelle.md
  contents/work/old_portfolio.md
  contents/work/repaint.md
  contents/work/reroad.md
  contents/work/togather.md
  public/.well-known/atproto-did
  public/images/works/blog/blog_thumb.png
  public/images/works/border/border_1.png
  public/images/works/border/border_2.png
  public/images/works/border/border_3.png
  public/images/works/border/border_thumb.png
  public/images/works/jamebu/jamebu_thumb.png
  public/images/works/micelle/micelle_thumb.jpg
  public/images/works/old_portfolio/old_portfolio_thumb.png
  public/images/works/repaint/repaint_thumb.png
  public/images/works/reroad/reroad_1.png
  public/images/works/reroad/reroad_2.png
  public/images/works/reroad/reroad_3.png
  public/images/works/reroad/reroad_4.png
  public/images/works/reroad/reroad_thumb.png
Due: npm run lint:fix

feat: add jsconfjp-2024
  .changeset/clean-geese-hear.md
  contents/timeline/jsconfjp-2024.md
Due: none

feat: add jsconfjp-2024 (#1469)
  .changeset/clean-geese-hear.md
  contents/timeline/jsconfjp-2024.md
Due: none

refactor: update opts url
  app/routes/_cd.works.$work/features/Carousel/Carousel.tsx
Due: npm run lint:fix

refactor: fix image srcset
  app/routes/_index/features/Hero/Hero.tsx
  public/images/rintaro@160w.avif
  public/images/rintaro@240w.avif
Due: npm run lint:fix

feat: impl works page
  app/routes/_cd.works/handlers/index.ts
  app/routes/_cd.works/handlers/loader.ts
  app/routes/_cd.works/route.tsx
Due: npm run lint:fix

chore: add changeset
  .changeset/three-numbers-bake.md
Due: none

feat: impl WorkCard component
  app/components/Paragraph/Paragraph.tsx
  app/routes/_cd.works/features/WorkCard/WorkCard.stories.tsx
  app/routes/_cd.works/features/WorkCard/WorkCard.tsx
  app/routes/_cd.works/features/WorkCard/index.ts
Due: npm run lint:fix

ci: fix summary keys
  .github/scripts/formatLighthouseReport.js
Due: npm run lint:fix

refactor: move origin switch to server side
  app/constants.ts
  app/routes/_cd.works.$work/features/Carousel/Carousel.stories.ts
  app/routes/_cd.works.$work/features/Carousel/Carousel.tsx
  app/routes/_cd.works/features/WorkCard/WorkCard.stories.tsx
  app/routes/_cd.works/features/WorkCard/WorkCard.tsx
  app/routes/_cd.works/handlers/loader.ts
Due: npm run lint:fix

refactor: add loading lazy
  app/routes/_cd.works/features/WorkCard/WorkCard.tsx
Due: npm run lint:fix

ci: update ci
  .github/workflows/lighthouse.yml
Due: npm run fmt

refactor: responsive
  app/routes/_cd.works/features/WorkCard/WorkCard.tsx
Due: npm run lint:fix

feat: impl works page (#1468)
  .changeset/three-numbers-bake.md
  .github/scripts/formatLighthouseReport.js
  .github/workflows/lighthouse.yml
  app/components/Paragraph/Paragraph.tsx
  app/constants.ts
  app/routes/_cd.works.$work/features/Carousel/Carousel.stories.ts
  app/routes/_cd.works.$work/features/Carousel/Carousel.tsx
  app/routes/_cd.works/features/WorkCard/WorkCard.stories.tsx
  app/routes/_cd.works/features/WorkCard/WorkCard.tsx
  app/routes/_cd.works/features/WorkCard/index.ts
  app/routes/_cd.works/handlers/index.ts
  app/routes/_cd.works/handlers/loader.ts
  app/routes/_cd.works/route.tsx
  app/routes/_index/features/Hero/Hero.tsx
  public/images/rintaro@160w.avif
  public/images/rintaro@240w.avif
Due: npm run lint:fix, npm run fmt

refactor: move container style
  app/routes/_cd.about/route.tsx
  app/routes/_cd.timeline/route.tsx
  app/routes/_cd.tsx
  app/routes/_cd.works/route.tsx
Due: npm run lint:fix

Path conditions:
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
