Repository Re-taro/re-taro.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fmt

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}': npm run lint:fix
'*.{json,yml,yaml,toml}': npm run fmt

🔧 update Next.js config
  next.config.js
Due: npm run lint:fix

✨ update package.json type
  package.json
Due: npm run fmt

✨ upadte dependence
  package.json
  pnpm-lock.yaml
Due: npm run fmt

✨ update styles
  src/styles/post.module.scss
Due: none

✨ fix types
  src/utils/parser.ts
Due: npm run lint:fix

✨ fix dependence
  package.json
  pnpm-lock.yaml
Due: npm run fmt

Update devDependencies
  package.json
  pnpm-lock.yaml
Due: npm run fmt

Pin dependencies
  package.json
  pnpm-lock.yaml
Due: npm run fmt

✨ update dependence
  package.json
  pnpm-lock.yaml
Due: npm run fmt

🧑‍💻 update ide config
  .idea/inspectionProfiles/Project_Default.xml
Due: none

✨ update custom scroll bar
  src/styles/global.scss
Due: none

✨ update dependence
  pnpm-lock.yaml
Due: npm run fmt

🔥 remove spotify files
  src/components/molecules/spotify/index.tsx
  src/pages/api/spotify.ts
  src/services/auth/get-access-token.ts
  src/services/constants.ts
  src/services/fetcher.ts
  src/services/now-playing/index.ts
  src/services/now-playing/types.ts
  src/utils/fetcher.ts
Due: npm run lint:fix

🎨 format the code
  src/components/organisms/post-head/index.tsx
  src/components/organisms/post-meta/index.tsx
  src/components/templates/post/index.tsx
  src/pages/posts/[id]/index.tsx
  src/styles/global.scss
  src/styles/post.module.scss
  src/utils/parser.ts
  src/utils/rehype-react.ts
Due: npm run lint:fix

✨ add umami
  package.json
  pnpm-lock.yaml
  src/components/atoms/tag/index.tsx
  src/components/molecules/card/index.tsx
  src/components/molecules/hamburger/index.tsx
  src/components/molecules/link-item/index.tsx
  src/components/molecules/navi-button/index.tsx
  src/components/molecules/post-card/index.tsx
  src/components/molecules/project-card/index.tsx
  src/components/organisms/footer/index.tsx
  src/components/organisms/links/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/organisms/projects/index.tsx
  src/pages/_document.tsx
  src/utils/umami.ts
Due: npm run lint:fix, npm run fmt

🎨 format the code
  src/components/atoms/tag/index.tsx
  src/components/molecules/card/index.tsx
  src/components/molecules/hamburger/index.tsx
  src/components/molecules/link-item/index.tsx
  src/components/molecules/navi-button/index.tsx
  src/components/molecules/post-card/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/organisms/projects/index.tsx
Due: npm run lint:fix

📝 update readme
  README.md
Due: none

Pin dependency @types/umami to 0.1.0
  package.json
  pnpm-lock.yaml
Due: npm run fmt

🔧 add npmrc
  .npmrc
Due: none

✨ update graphql schema
  graphql/documents/work.graphql
  graphql/graphql.schema.json
  src/graphql/index.ts
Due: npm run lint:fix, npm run fmt

🏷️ update twin.macro type
  src/@types/twin.d.ts
Due: npm run lint:fix

✨ add curves to images
  src/components/molecules/project-card/index.tsx
Due: npm run lint:fix

✨ fix layouts
  src/components/templates/layout/index.tsx
Due: npm run lint:fix

✨ create work page
  src/components/atoms/chip/index.tsx
  src/components/organisms/work-head/index.tsx
  src/components/organisms/work-meta/index.tsx
  src/components/templates/work/index.tsx
  src/pages/works/[id]/index.tsx
Due: npm run lint:fix

Update dependency graphql to v16
  package.json
  pnpm-lock.yaml
Due: npm run fmt

👷 update CI
  .github/workflows/dev.yml
  .github/workflows/eslint.yml
  .github/workflows/lighthouse.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: npm run fmt

✨ update public static stuff
  public/fonts/NotoSansCJKjp-Bold.woff2
  public/rintaro.webp
  public/robots.txt
Due: none

✨ create custom ogp api
  src/components/templates/ogp/index.tsx
  src/pages/api/ogp.tsx
Due: npm run lint:fix

✨ update to custom seo
  src/components/organisms/seo/index.tsx
  src/utils/gen-ogp.ts
  src/utils/next-seo.ts
Due: npm run lint:fix

✨ change to custom seo
  src/components/organisms/post-meta/index.tsx
  src/components/organisms/work-meta/index.tsx
  src/components/templates/about/index.tsx
  src/components/templates/home/index.tsx
  src/components/templates/post/index.tsx
  src/components/templates/posts/index.tsx
  src/components/templates/tag/index.tsx
  src/components/templates/tags/index.tsx
  src/components/templates/work/index.tsx
  src/components/templates/works/index.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/posts/[id]/index.tsx
  src/pages/tags/[tag]/index.tsx
  src/pages/works/[id]/index.tsx
Due: npm run lint:fix

✨ add favicon
  public/favicon.ico
Due: none

✨ update size
  package.json
  pnpm-lock.yaml
  src/pages/api/ogp.tsx
Due: npm run lint:fix, npm run fmt

✨ update fonts
  public/fonts/NotoSansCJKjp-Bold.woff2
Due: none

✨ update ogp
  public/fonts/NotoSansJp-Bold.woff2
  src/pages/api/ogp.tsx
Due: npm run lint:fix

✨ update api
  next.config.js
  src/components/templates/ogp/index.tsx
  src/pages/api/ogp.tsx
Due: npm run lint:fix

✨ update ogp api
  src/pages/api/ogp.tsx
Due: npm run lint:fix
