Repository Re-taro/re-taro.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fmt

✨ throw new lock file
  pnpm-lock.yaml
Due: npm run fmt

✨ fix dependence
  pnpm-lock.yaml
  src/pages/api/ogp.tsx
Due: npm run lint:fix, npm run fmt

🚚 rename fonts
  src/pages/api/ogp.tsx
Due: npm run lint:fix

✨ fix ogp
  next-sitemap.config.js
  package.json
  pnpm-lock.yaml
  src/pages/api/ogp.tsx
Due: npm run lint:fix, npm run fmt

🚑️ update dependence
  package.json
  pnpm-lock.yaml
  src/components/organisms/links/index.tsx
  vercel.json
Due: npm run lint:fix, npm run fmt

🔥 remove api
  .github/workflows/dev.yml
  .github/workflows/eslint.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
  public/fonts/NotoSansJp-Bold.woff2
  public/rintaro.webp
  src/pages/api/ogp.tsx
Due: npm run lint:fix, npm run fmt

✨ update OGP
  src/pages/posts/[id]/index.tsx
  src/pages/works/[id]/index.tsx
Due: npm run lint:fix

✨ update package.json
  package.json
Due: npm run fmt

🔍️ improve SEO
  src/pages/404.tsx
  src/pages/posts/[id]/index.tsx
  src/pages/works/[id]/index.tsx
Due: npm run lint:fix

✨ update static build
  src/components/templates/about/index.tsx
  src/components/templates/home/index.tsx
  src/components/templates/posts/index.tsx
  src/components/templates/tags/index.tsx
  src/components/templates/works/index.tsx
  src/pages/404.tsx
  src/pages/about/index.tsx
  src/pages/index.tsx
  src/pages/posts/index.tsx
  src/pages/tags/index.tsx
  src/pages/works/index.tsx
Due: npm run lint:fix

Update devDependencies
  package.json
  pnpm-lock.yaml
Due: npm run fmt

🔧 update ide config
  .idea/inspectionProfiles/Project_Default.xml
Due: none

🍱 add static assets
  public/rintaro.png
  public/robots.txt
Due: none

✨ add sitemap
  src/pages/sitemap.xml.tsx
  src/utils/sitemap.ts
Due: npm run lint:fix

➕ add dependencies
  package.json
  pnpm-lock.yaml
Due: npm run fmt

🎨 format the code
  vercel.json
Due: npm run fmt

🚑️ fix fetcher
  src/utils/sitemap.ts
Due: npm run lint:fix

🔥 remove unuse fuinction
  src/utils/sitemap.ts
Due: npm run lint:fix

✨ update sitemap schema
  graphql/documents/sitemap.graphql
  graphql/graphql.schema.json
  src/graphql/index.ts
  src/utils/sitemap.ts
Due: npm run lint:fix, npm run fmt

✨ update graphql
  graphql/documents/sitemap.graphql
  src/graphql/index.ts
  src/utils/sitemap.ts
Due: npm run lint:fix

✨ add RSS
  graphql/documents/feed.graphql
  graphql/documents/slug.graphql
  graphql/documents/tag.graphql
  graphql/documents/tags.graphql
  src/graphql/index.ts
  src/pages/rss/atom.xml/index.tsx
  src/pages/rss/feed.json/index.tsx
  src/pages/rss/feed.xml/index.tsx
  src/utils/feed.ts
  src/utils/parser.ts
  tsconfig.json
Due: npm run lint:fix, npm run fmt

🎨 fix theme bug
  src/components/atoms/button/index.tsx
  src/components/atoms/chip/index.tsx
  src/components/atoms/divider/index.tsx
  src/components/atoms/heading/index.tsx
  src/components/atoms/tag/index.tsx
  src/components/atoms/text/index.tsx
  src/components/molecules/card/index.tsx
  src/components/molecules/footer-link/index.tsx
  src/components/molecules/hamburger/index.tsx
  src/components/molecules/image/index.tsx
  src/components/molecules/link-item/index.tsx
  src/components/molecules/navi-button/index.tsx
  src/components/molecules/post-card/index.tsx
  src/components/molecules/project-card/index.tsx
  src/components/molecules/timeline-item/index.tsx
  src/components/molecules/toggle-button/index.tsx
  src/components/organisms/content/index.tsx
  src/components/organisms/footer/index.tsx
  src/components/organisms/header/index.tsx
  src/components/organisms/heading/index.tsx
  src/components/organisms/hero/index.tsx
  src/components/organisms/post-head/index.tsx
  src/components/organisms/posts/index.tsx
  src/components/organisms/projects/index.tsx
  src/components/organisms/timeline/index.tsx
  src/components/organisms/work-head/index.tsx
  src/components/templates/layout/index.tsx
  src/components/templates/posts/index.tsx
  src/components/templates/tag/index.tsx
  src/components/templates/tags/index.tsx
  src/components/templates/work/index.tsx
  src/components/templates/works/index.tsx
  src/styles/post.module.scss
Due: npm run lint:fix

⬆️ update katex
  src/components/organisms/post-meta/index.tsx
Due: npm run lint:fix

✨ update katex
  src/components/organisms/post-meta/index.tsx
Due: npm run lint:fix

✨ update blog page
  package.json
  pnpm-lock.yaml
  src/components/atoms/button/index.tsx
  src/components/atoms/chip/index.tsx
  src/components/molecules/link-item/index.tsx
  src/components/molecules/link-widget/index.tsx
  src/components/organisms/post-head/index.tsx
  src/components/templates/post/index.tsx
  src/styles/global.scss
  src/styles/link-widget.module.scss
  src/styles/post.module.scss
  src/utils/mdast-util-node-is.ts
  src/utils/parser.ts
  src/utils/rehype-react.ts
  src/utils/remark-link-widget.ts
Due: npm run lint:fix, npm run fmt

🎨 fotmat the code
  src/components/templates/post/index.tsx
Due: npm run lint:fix

Pin dependencies
  package.json
  pnpm-lock.yaml
Due: npm run fmt

Update dependency @types/react-dom to v18.0.5
  package.json
  pnpm-lock.yaml
Due: npm run fmt

⬆️ upgrade Next.js to 12.1.6
  next.config.js
  package.json
  pnpm-lock.yaml
Due: npm run lint:fix, npm run fmt

Update dependency next to v12.1.6
  package.json
  pnpm-lock.yaml
Due: npm run fmt

Update dependency @iconify/react to v3.2.2
  package.json
  pnpm-lock.yaml
Due: npm run fmt

Update pnpm/action-setup action to v2.2.2
  .github/workflows/dev.yml
  .github/workflows/eslint.yml
  .github/workflows/lighthouse.yml
  .github/workflows/prettier.yml
  .github/workflows/test.yml
Due: npm run fmt

Path conditions:
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
