Repository Re-taro/re-taro.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fmt

ci: fix useing custom github user
  .github/workflows/release.yml
Due: npm run fmt

ci: fix useing custom github user (#260)
  .github/workflows/release.yml
Due: npm run fmt

chore(deps): update dependency @remix-run/dev to v1.19.3
  .changeset/renovate-5621356.md
  package.json
  pnpm-lock.yaml
Due: npm run fmt

build: update renovate group
  .github/renovate.json
Due: npm run fmt

build: update renovate group (#261)
  .github/renovate.json
Due: npm run fmt

chore: add changeset
  .changeset/happy-numbers-knock.md
  .tool-versions
Due: none

build: fix markuplint path
  package.json
Due: npm run fmt

refactor: migrate to v2
  .gitignore
  app/server.ts
  markuplint.config.ts
  package.json
  remix.config.js
  tsconfig.json
Due: npm run lint:fix, npm run fmt

chore: add changeset
  .changeset/young-teachers-swim.md
Due: none

build: fix markuplint path (#344)
  .changeset/young-teachers-swim.md
  .gitignore
  app/server.ts
  markuplint.config.ts
  package.json
  remix.config.js
  tsconfig.json
Due: npm run lint:fix, npm run fmt

ci: add sync dependabot and changeset
  .github/workflows/sync-dependabot-changesets.yml
Due: npm run fmt

ci: add sync dependabot and changeset (#347)
  .github/workflows/sync-dependabot-changesets.yml
Due: npm run fmt

chore: add changeset
  .changeset/khaki-readers-grab.md
Due: none

chore: add changeset
  .changeset/thick-geckos-sneeze.md
Due: none

chore: add changeset
  .changeset/silent-garlics-rule.md
Due: none

chore: add changeset
  .changeset/chilly-pans-raise.md
Due: none

feat(build): migrate to flat config
  .eslintignore
  .eslintrc.cjs
  .formatignore
  .prettierignore
  app/entry.client.tsx
  app/entry.server.tsx
  app/root.tsx
  app/routes/_index.tsx
  eslint.config.js
  package.json
  prettier.config.cjs
  tsconfig.json
Due: npm run lint:fix, npm run fmt

chore: wtf remix.config.js doesn't support esm config style
  eslint.config.js
  package.json
Due: npm run lint:fix, npm run fmt

feat(build): add storybook
  .changeset/lemon-meals-taste.md
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/vite.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: npm run lint:fix, npm run fmt

ci: update deploy ci
  .changeset/polite-months-love.md
  .github/workflows/release.yml
  wrangler.toml
Due: npm run fmt

ci: update deploy ci (#355)
  .changeset/polite-months-love.md
  .github/workflows/release.yml
  wrangler.toml
Due: npm run fmt

feat: use Hono as entrypoint
  .changeset/rotten-rabbits-pull.md
  .github/renovate.json
  .vscode/settings.json
  app/entry.client.tsx
  app/entry.server.tsx
  app/root.tsx
  app/routes/_index.tsx
  app/server.ts
  eslint.config.js
  markuplint.config.ts
  package.json
  pnpm-lock.yaml
  prettier.config.cjs
  prettier.config.mjs
  public/_headers
  public/_routes.json
  remix.config.js
  tsconfig.json
Due: npm run lint:fix, npm run fmt

feat: use Hono as entrypoint (#455)
  .changeset/rotten-rabbits-pull.md
  .github/renovate.json
  .vscode/settings.json
  app/entry.client.tsx
  app/entry.server.tsx
  app/root.tsx
  app/routes/_index.tsx
  app/server.ts
  eslint.config.js
  markuplint.config.ts
  package.json
  pnpm-lock.yaml
  prettier.config.cjs
  prettier.config.mjs
  public/_headers
  public/_routes.json
  remix.config.js
  tsconfig.json
Due: npm run lint:fix, npm run fmt

chore: add changeset
  .changeset/soft-cougars-applaud.md
Due: none

chore: add changeset
  .changeset/dull-lobsters-change.md
Due: none

fix: corresponding to isbot v4
  app/entry.server.tsx
Due: npm run lint:fix

feat: add reset css
  .changeset/great-adults-sip.md
  app/root.tsx
  app/styles/globals.css.ts
  app/styles/layers.css.ts
  app/styles/reset.css.ts
Due: npm run lint:fix

feat: add reset css (#485)
  .changeset/great-adults-sip.md
  app/root.tsx
  app/styles/globals.css.ts
  app/styles/layers.css.ts
  app/styles/reset.css.ts
Due: npm run lint:fix

build: update editorconfig
  .editorconfig
Due: none

build: migrate prettier config to v2
  .changeset/config.json
  .prettierignore
  prettier.config.mjs
Due: npm run fmt

chore: add changeset
  .changeset/dull-tigers-dance.md
Due: none

refactor: use esm on project
  eslint.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.js
  remix.config.cjs
Due: npm run lint:fix, npm run fmt

feat: migrate to vite
  .changeset/sixty-feet-run.md
  .gitignore
  app/entry.client.tsx
  app/entry.server.tsx
  app/load-context.ts
  app/root.tsx
  app/server.ts
  env.d.ts
  eslint.config.js
  functions/[[path]].ts
  package.json
  pnpm-lock.yaml
  prettier.config.js
  public/_headers
  public/_routes.json
  remix.config.js
  tsconfig.json
  vite.config.ts
Due: npm run lint:fix, npm run fmt

feat: migrate to vite (#579)
  .changeset/sixty-feet-run.md
  .gitignore
  app/entry.client.tsx
  app/entry.server.tsx
  app/load-context.ts
  app/root.tsx
  app/server.ts
  env.d.ts
  eslint.config.js
  functions/[[path]].ts
  package.json
  pnpm-lock.yaml
  prettier.config.js
  public/_headers
  public/_routes.json
  remix.config.js
  tsconfig.json
  vite.config.ts
Due: npm run lint:fix, npm run fmt

ci: remove changeset checker
  .github/workflows/changeset.yml
  .github/workflows/ci.yml
  .github/workflows/sync-dependabot-changesets.yml
  .github/workflows/sync-renovate-changesets.yml
Due: npm run fmt

build: fix start command
  package.json
Due: npm run fmt

ci: add dev deploy ci and updare release ci
  .github/workflows/ci.yml
  .github/workflows/dev-deploy.yml
  .github/workflows/release.yml
Due: npm run fmt

ci: use wrangler-action instead of pages-action
  .github/workflows/dev-deploy.yml
  .github/workflows/release.yml
Due: npm run fmt

Path conditions:
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
