Repository Re-taro/re-taro.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fmt

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}': npm run lint:fix
'*.{json,yml,yaml,toml}': npm run fmt

feat: impl hero component
  app/components/Heading/Heading.tsx
  app/hooks/useScramble.ts
  app/routes/features/Hero/Hero.stories.ts
  app/routes/features/Hero/Hero.tsx
  app/routes/features/Hero/index.ts
  package.json
  panda.config.ts
  pnpm-lock.yaml
  public/images/rintaro.avif
  removeUnusedKeyframse.ts
  removeUnusedvars.ts
  vite.config.ts
Due: npm run lint:fix, npm run fmt

chore: fix changeset config
  .changeset/config.json
Due: npm run fmt

ci: fix changeset ci
  .github/workflows/changeset.yml
Due: npm run fmt

feat: wrote test for root page
  .github/workflows/ci.yml
  .gitignore
  app/routes/_index.tsx
  app/tests/root.test.ts
  app/tests/utils.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  templates/tests/route.test.ts.hbs
Due: npm run lint:fix, npm run fmt

feat: support mobile style
  app/components/Heading/Heading.tsx
  app/routes/features/Hero/Hero.tsx
  playwright.config.ts
Due: npm run lint:fix

chore: add changeset
  .changeset/moody-buttons-rush.md
Due: none

chore: format error
  playwright.config.ts
Due: npm run lint:fix

feat: support mobile style (#747)
  .changeset/moody-buttons-rush.md
  app/components/Heading/Heading.tsx
  app/routes/features/Hero/Hero.tsx
  playwright.config.ts
Due: npm run lint:fix

perf: use suspense boundary
  app/routes/features/Hero/Hero.tsx
Due: npm run lint:fix

fix: remove duplicate landmark elm
  app/routes/features/Hero/Hero.tsx
Due: npm run lint:fix

feat: impl header and footer
  .changeset/two-carrots-type.md
  app/components/Footer/Footer.stories.ts
  app/components/Footer/Footer.tsx
  app/components/Footer/index.ts
  app/components/Header/Header.stories.ts
  app/components/Header/Header.tsx
  app/components/Header/index.ts
  app/root.tsx
  package.json
  panda.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: npm run lint:fix, npm run fmt

feat: impl header and footer (#761)
  .changeset/two-carrots-type.md
  app/components/Footer/Footer.stories.ts
  app/components/Footer/Footer.tsx
  app/components/Footer/index.ts
  app/components/Header/Header.stories.ts
  app/components/Header/Header.tsx
  app/components/Header/index.ts
  app/root.tsx
  app/routes/features/Hero/Hero.tsx
  package.json
  panda.config.ts
  pnpm-lock.yaml
  tsconfig.json
Due: npm run lint:fix, npm run fmt

perf: respect browserslist
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: npm run lint:fix, npm run fmt

refactor: impl custom error boundary
  app/root.tsx
Due: npm run lint:fix

ci: fix setup of CI
  .github/workflows/bundle-analyze.yml
Due: npm run fmt

ci: setup bundle analyzer ci
  .github/workflows/bundle-analyze.yml
Due: npm run fmt

perf: check bundler settings and fix LCP and FCP
  .changeset/weak-coins-chew.md
  app/routes/features/Hero/Hero.tsx
  package.json
  pnpm-lock.yaml
  public/images/rintaro@2x.avif
  vite.config.ts
Due: npm run lint:fix, npm run fmt

chore: update test suits
  .github/workflows/bundle-analyze.yml
  app/tests/root.test.ts
  app/tests/root.test.ts-snapshots/root-Mobile-Chrome-darwin.png
  app/tests/root.test.ts-snapshots/root-Mobile-Safari-darwin.png
  app/tests/root.test.ts-snapshots/root-chrome-darwin.png
  app/tests/root.test.ts-snapshots/root-firefox-darwin.png
  app/tests/root.test.ts-snapshots/root-webkit-darwin.png
Due: npm run lint:fix, npm run fmt

ci: rename ci
  .github/workflows/bundle-analyze.yml
Due: npm run fmt

test: remove too long test
  app/tests/root.test.ts
  app/tests/root.test.ts-snapshots/root-Mobile-Chrome-darwin.png
  app/tests/root.test.ts-snapshots/root-Mobile-Safari-darwin.png
  app/tests/root.test.ts-snapshots/root-chrome-darwin.png
  app/tests/root.test.ts-snapshots/root-firefox-darwin.png
  app/tests/root.test.ts-snapshots/root-webkit-darwin.png
Due: npm run lint:fix

perf: check bundler setup (#814)
  .changeset/weak-coins-chew.md
  .github/workflows/bundle-analyze.yml
  app/root.tsx
  app/routes/features/Hero/Hero.tsx
  app/tests/root.test.ts
  package.json
  pnpm-lock.yaml
  public/images/rintaro@2x.avif
  vite.config.ts
Due: npm run lint:fix, npm run fmt

ci: fix pattern
  .github/workflows/bundle-analyze.yml
Due: npm run fmt

ci: setup lighthouse ci
  .github/lighthouserc.json
  .github/scripts/formatLighthouseReport.js
  .github/workflows/lighthouse.yml
Due: npm run lint:fix, npm run fmt

chore: fix lint error
  .github/scripts/formatLighthouseReport.js
Due: npm run lint:fix

ci: fix lighthouse ci
  .github/scripts/formatLighthouseReport.js
  .github/workflows/lighthouse.yml
Due: npm run lint:fix, npm run fmt

ci: setup lighthouse ci (#815)
  .github/lighthouserc.json
  .github/scripts/formatLighthouseReport.js
  .github/workflows/bundle-analyze.yml
  .github/workflows/lighthouse.yml
Due: npm run lint:fix, npm run fmt

refactor: protect html contents model
  app/root.tsx
  app/routes/_index.tsx
Due: npm run lint:fix

refactor: fix bug of Heading prefix
  app/components/Heading/Heading.tsx
Due: npm run lint:fix

feat: impl Paragraph component
  app/components/Paragraph/Paragraph.stories.ts
  app/components/Paragraph/Paragraph.tsx
  app/components/Paragraph/index.ts
Due: npm run lint:fix

feat: update main layout padding
  app/root.tsx
Due: npm run lint:fix

feat: update styles for responsive word breaks
  app/components/Paragraph/Paragraph.tsx
Due: npm run lint:fix

feat: impl about section
  .changeset/nice-squids-relate.md
  .github/workflows/lighthouse.yml
  app/routes/about/features/ListItem/ListItem.stories.tsx
  app/routes/about/features/ListItem/ListItem.tsx
  app/routes/about/features/ListItem/index.ts
  app/routes/about/route.tsx
  app/tests/about.test.ts
Due: npm run lint:fix, npm run fmt

feat: impl about section (#817)
  .changeset/nice-squids-relate.md
  .github/workflows/lighthouse.yml
  app/components/Heading/Heading.tsx
  app/components/Paragraph/Paragraph.stories.ts
  app/components/Paragraph/Paragraph.tsx
  app/components/Paragraph/index.ts
  app/root.tsx
  app/routes/_index.tsx
  app/routes/about/features/ListItem/ListItem.stories.tsx
  app/routes/about/features/ListItem/ListItem.tsx
  app/routes/about/features/ListItem/index.ts
  app/routes/about/route.tsx
  app/tests/about.test.ts
Due: npm run lint:fix, npm run fmt

ci: use dev dev-deploy url
  .github/workflows/dev-deploy.yml
  .github/workflows/lighthouse.yml
Due: npm run fmt

ci: fix workflows chain
  .github/workflows/dev-deploy.yml
Due: npm run fmt

ci: fix invalid secrets input
  .github/workflows/dev-deploy.yml
  .github/workflows/lighthouse.yml
Due: npm run fmt

chore: fix linter error
  .github/workflows/lighthouse.yml
Due: npm run fmt

ci: fix config
  .github/lighthouserc.json
  .github/workflows/lighthouse.yml
Due: npm run fmt

ci: use dev-deploy url (#818)
  .github/lighthouserc.json
  .github/workflows/dev-deploy.yml
  .github/workflows/lighthouse.yml
Due: npm run fmt
