Repository Re-taro/re-taro.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fmt

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}': npm run lint:fix
'*.{json,yml,yaml,toml}': npm run fmt

build: setup Storybook
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/test-runner.ts
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: npm run lint:fix, npm run fmt

build: setup Storybook (#596)
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/test-runner.ts
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: npm run lint:fix, npm run fmt

build: migrate to new eslint config
  .github/workflows/dev-deploy.yml
  .storybook/test-runner.ts
  .vscode/settings.json
  app/root.tsx
  app/routes/_index.tsx
  app/styles/reset.css.ts
  eslint.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.js
  vite.config.ts
Due: npm run lint:fix, npm run fmt

ci: fix deploy CI
  .github/workflows/dev-deploy.yml
  .github/workflows/release.yml
Due: npm run fmt

ci: fix deploy CI (#677)
  .github/workflows/dev-deploy.yml
  .github/workflows/release.yml
Due: npm run fmt

build: fix changesets config
  .changeset/config.json
  package.json
Due: npm run fmt

build: update eslint and markuplint config
  markuplint.config.ts
Due: npm run lint:fix

refactor: remove unused layout
  app/root.tsx
Due: npm run lint:fix

feat: add web fonts
  app/root.tsx
  app/styles/base.css.ts
  app/styles/globals.css.ts
  app/styles/layers.css.ts
Due: npm run lint:fix

feat: add theme color to :root
  app/styles/globals.css.ts
  app/styles/theme.css.ts
Due: npm run lint:fix

refactor: use globalLayer instead of layer
  app/styles/layers.css.ts
Due: npm run lint:fix

feat: custom renderer
  app/entry.client.tsx
  app/entry.server.tsx
Due: npm run lint:fix

chore: format codes
  app/entry.client.tsx
  app/entry.server.tsx
  app/styles/base.css.ts
  plopfile.js
Due: npm run lint:fix

build: add plop fot generator
  package.json
  plopfile.js
  pnpm-lock.yaml
  templates/components/component.stories.ts.hbs
  templates/components/component.test.tsx.hbs
  templates/components/component.tsx.hbs
  templates/components/index.ts.hbs
  templates/pages/page.tsx.hbs
  templates/styles/styles.css.ts.hbs
  templates/tests/page.test.ts.hbs
Due: npm run lint:fix, npm run fmt

build: update template generator and setup test
  .github/actions/setup-playwright/action.yml
  .github/workflows/ci.yml
  markuplint.config.ts
  package.json
  playwright.config.ts
  plopfile.js
  pnpm-lock.yaml
  templates/components/component.test.tsx.hbs
  templates/pages/route.tsx.hbs
  templates/styles/styles.css.ts.hbs
  templates/tests/route.test.ts.hbs
  tsconfig.json
  vitest.config.ts
  vitest.setup.ts
Due: npm run lint:fix, npm run fmt

feat: use panda css
  .gitignore
  .storybook/preview.ts
  app/index.css
  app/root.tsx
  app/routes/_index.tsx
  app/styles/base.css.ts
  app/styles/globals.css.ts
  app/styles/layers.css.ts
  app/styles/reset.css.ts
  app/styles/theme.css.ts
  package.json
  panda.config.ts
  plopfile.js
  pnpm-lock.yaml
  postcss.config.cjs
  templates/components/component.tsx.hbs
  templates/styles/styles.css.ts.hbs
  vite.config.ts
Due: npm run lint:fix, npm run fmt

build: fix file ext
  plopfile.js
Due: npm run lint:fix

refactor: remove unused weight of font
  app/root.tsx
Due: npm run lint:fix

build: update storybook config
  .storybook/main.ts
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
Due: npm run lint:fix, npm run fmt

ci: enable storybook ci
  .github/workflows/ci.yml
Due: npm run fmt

feat: impl Heading and SectioningContent component
  app/components/Heading/Heading.stories.tsx
  app/components/Heading/Heading.tsx
  app/components/Heading/index.ts
  app/components/SectioningContent/SectioningContent.stories.tsx
  app/components/SectioningContent/SectioningContent.tsx
  app/components/SectioningContent/index.ts
  app/components/SectioningContent/level.ts
  panda.config.ts
Due: npm run lint:fix

chore: fix lint error
  .github/workflows/ci.yml
  vitest.config.ts
Due: npm run lint:fix, npm run fmt

chore: add changeset
  .changeset/thin-wolves-shop.md
Due: none

build: fix changesets config
  .changeset/config.json
Due: npm run fmt

feat: seo
  app/root.tsx
  package.json
  pnpm-lock.yaml
  public/favicon.ico
  public/favicon.svg
  public/robots.txt
  vite.config.ts
Due: npm run lint:fix, npm run fmt
