Repository Re-taro/re-taro.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fmt

feat: add meta function
  app/routes/_cd.works/route.tsx
Due: npm run lint:fix

feat: impl work page
  .changeset/rude-trainers-flash.md
  .github/workflows/lighthouse.yml
  app/routes/_cd.work.$work/features/Carousel/Carousel.stories.ts
  app/routes/_cd.work.$work/features/Carousel/Carousel.tsx
  app/routes/_cd.work.$work/features/Carousel/index.ts
  app/routes/_cd.work.$work/features/CarouselDotButton/CarouselDotButton.stories.ts
  app/routes/_cd.work.$work/features/CarouselDotButton/CarouselDotButton.tsx
  app/routes/_cd.work.$work/features/CarouselDotButton/index.ts
  app/routes/_cd.work.$work/features/CarouselDotButton/useDotButton.ts
  app/routes/_cd.work.$work/handlers/index.ts
  app/routes/_cd.work.$work/handlers/loader.ts
  app/routes/_cd.work.$work/route.tsx
  app/routes/_cd.works.$work/route.tsx
  app/routes/_cd.works/features/WorkCard/WorkCard.tsx
  app/routes/work/handlers/index.ts
  app/routes/work/handlers/loader.ts
  app/routes/work/route.tsx
  tests/work.test.ts
Due: npm run lint:fix, npm run fmt

refactor: add width params to carousel
  app/routes/_cd.work.$work/features/Carousel/Carousel.tsx
Due: npm run lint:fix

feat: impl work page (#1471)
  .changeset/rude-trainers-flash.md
  .github/workflows/lighthouse.yml
  app/routes/_cd.about/route.tsx
  app/routes/_cd.timeline/route.tsx
  app/routes/_cd.tsx
  app/routes/_cd.work.$work/features/Carousel/Carousel.stories.ts
  app/routes/_cd.work.$work/features/Carousel/Carousel.tsx
  app/routes/_cd.work.$work/features/Carousel/index.ts
  app/routes/_cd.work.$work/features/CarouselDotButton/CarouselDotButton.stories.ts
  app/routes/_cd.work.$work/features/CarouselDotButton/CarouselDotButton.tsx
  app/routes/_cd.work.$work/features/CarouselDotButton/index.ts
  app/routes/_cd.work.$work/features/CarouselDotButton/useDotButton.ts
  app/routes/_cd.work.$work/handlers/index.ts
  app/routes/_cd.work.$work/handlers/loader.ts
  app/routes/_cd.work.$work/route.tsx
  app/routes/_cd.works.$work/route.tsx
  app/routes/_cd.works/features/WorkCard/WorkCard.tsx
  app/routes/_cd.works/route.tsx
  app/routes/work/handlers/index.ts
  app/routes/work/handlers/loader.ts
  app/routes/work/route.tsx
  tests/work.test.ts
Due: npm run lint:fix, npm run fmt

fix: typo
  .changeset/cold-tables-fly.md
  app/routes/_cd.about/route.tsx
Due: npm run lint:fix

fix: typo (#1472)
  .changeset/cold-tables-fly.md
  app/routes/_cd.about/route.tsx
Due: npm run lint:fix

feat: add tl content about intern ship
  .changeset/weak-olives-complain.md
  contents/timeline/abematv.md
  contents/timeline/ace.md
  contents/timeline/cybozu.md
  contents/timeline/dena.md
  contents/timeline/two-gate.md
Due: none

feat: add tl content about intern ship (#1474)
  .changeset/weak-olives-complain.md
  contents/timeline/abematv.md
  contents/timeline/ace.md
  contents/timeline/cybozu.md
  contents/timeline/dena.md
  contents/timeline/two-gate.md
Due: none

refactor: export layout from root
  app/root.tsx
Due: npm run lint:fix

refactor: add fetch priority
  app/routes/_index/features/Hero/Hero.tsx
Due: npm run lint:fix

chore: add changeset
  .changeset/dull-ravens-relate.md
Due: none

refactor: fix FOUC (#1476)
  .changeset/dull-ravens-relate.md
  app/root.tsx
  app/routes/_index/features/Hero/Hero.tsx
Due: npm run lint:fix

fix: fix date of ace
  .changeset/strange-comics-dream.md
  contents/timeline/ace.md
Due: none

fix: fix date of ace (#1486)
  .changeset/strange-comics-dream.md
  contents/timeline/ace.md
Due: none

fix: fix pnpm and corepack bug
  .npmrc
  .tool-versions
  package.json
  pnpm-workspace.yaml
Due: npm run fmt

feat: update fonts
  panda.config.ts
Due: npm run lint:fix

refactor: remove google fonts
  .storybook/preview-head.html
  app/root.tsx
Due: npm run lint:fix

chore: add changesets
  .changeset/brave-nails-make.md
Due: none

ci: pin digest
  .github/actions/setup-playwright/action.yml
  .github/workflows/bundle-analyze.yml
  .github/workflows/changeset.yml
  .github/workflows/ci.yml
  .github/workflows/dev-deploy.yml
  .github/workflows/lighthouse.yml
  .github/workflows/release.yml
Due: npm run fmt

chore: update renovate
  .github/renovate.json
Due: npm run fmt

refactor: remove google fonts (#1607)
  .changeset/brave-nails-make.md
  .github/actions/setup-playwright/action.yml
  .github/renovate.json
  .github/workflows/bundle-analyze.yml
  .github/workflows/changeset.yml
  .github/workflows/ci.yml
  .github/workflows/dev-deploy.yml
  .github/workflows/lighthouse.yml
  .github/workflows/release.yml
  .npmrc
  .storybook/preview-head.html
  .tool-versions
  app/root.tsx
  package.json
  panda.config.ts
  pnpm-workspace.yaml
Due: npm run lint:fix, npm run fmt

feat: update about page
  .changeset/moody-ducks-taste.md
  app/routes/_cd.about/route.tsx
  contents/timeline/cyber-agent.md
  pnpm-workspace.yaml
Due: npm run lint:fix, npm run fmt

feat: update about page (#1640)
  .changeset/moody-ducks-taste.md
  app/routes/_cd.about/route.tsx
  contents/timeline/cyber-agent.md
  pnpm-workspace.yaml
Due: npm run lint:fix, npm run fmt

chore: update lockfile
  pnpm-lock.yaml
Due: npm run fmt

fix: fix playwright query name
  tests/root.test.ts
Due: npm run lint:fix

ci: update ci
  .github/workflows/ci.yml
Due: npm run fmt

fix: fix playwright query name (#1661)
  .github/workflows/ci.yml
  tests/root.test.ts
Due: npm run lint:fix, npm run fmt

update: update unplugin-icon
  app/routes/_cd.about/features/SocialLink/SocialLink.tsx
  package.json
  pnpm-lock.yaml
Due: npm run lint:fix, npm run fmt

update: update react to 19
  app/hooks/useScramble.ts
  app/routes/_index/features/Hero/Hero.tsx
  package.json
  pnpm-lock.yaml
Due: npm run lint:fix, npm run fmt

update: major deps (#1715)
  app/hooks/useScramble.ts
  app/routes/_cd.about/features/SocialLink/SocialLink.tsx
  app/routes/_index/features/Hero/Hero.tsx
  package.json
  pnpm-lock.yaml
Due: npm run lint:fix, npm run fmt

Path conditions:
  npm run lint:fix: any of: *.{js,jsx,ts,tsx}
  npm run fmt: any of: *.{json,yml,yaml,toml}
