Repository Re-taro/re-taro.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run fmt

.lintstagedrc.yml:

'*.{js,jsx,ts,tsx}': npm run lint:fix
'*.{json,yml,yaml,toml}': npm run fmt

feat: impl sns links section
  app/routes/_index.tsx
  app/routes/about/features/SocialLink/SocialLink.stories.tsx
  app/routes/about/features/SocialLink/SocialLink.tsx
  app/routes/about/features/SocialLink/index.ts
  app/routes/about/route.tsx
  app/tests/about.test.ts
  pnpm-lock.yaml
Due: npm run lint:fix, npm run fmt

refactor: use built-in MetaFunction
  app/root.tsx
Due: npm run lint:fix

feat: impl cd link to under child roots
  app/routes/_cd.about/features/ListItem/ListItem.stories.tsx
  app/routes/_cd.about/features/ListItem/ListItem.tsx
  app/routes/_cd.about/features/ListItem/index.ts
  app/routes/_cd.about/features/SocialLink/SocialLink.stories.tsx
  app/routes/_cd.about/features/SocialLink/SocialLink.tsx
  app/routes/_cd.about/features/SocialLink/index.ts
  app/routes/_cd.about/route.tsx
  app/routes/_cd.tsx
  app/tests/about.test.ts
Due: npm run lint:fix

refactor: move to _index folder
  app/routes/_index/features/Hero/Hero.stories.ts
  app/routes/_index/features/Hero/Hero.tsx
  app/routes/_index/features/Hero/index.ts
  app/routes/_index/route.tsx
Due: npm run lint:fix

chore: add changeset
  .changeset/wet-pillows-approve.md
Due: none

feat: impl sns links section (#822)
  .changeset/wet-pillows-approve.md
  app/root.tsx
  app/routes/_cd.about/features/ListItem/ListItem.stories.tsx
  app/routes/_cd.about/features/ListItem/ListItem.tsx
  app/routes/_cd.about/features/ListItem/index.ts
  app/routes/_cd.about/features/SocialLink/SocialLink.stories.tsx
  app/routes/_cd.about/features/SocialLink/SocialLink.tsx
  app/routes/_cd.about/features/SocialLink/index.ts
  app/routes/_cd.about/route.tsx
  app/routes/_cd.tsx
  app/routes/_index/features/Hero/Hero.stories.ts
  app/routes/_index/features/Hero/Hero.tsx
  app/routes/_index/features/Hero/index.ts
  app/routes/_index/route.tsx
  app/tests/about.test.ts
  pnpm-lock.yaml
Due: npm run lint:fix, npm run fmt

refactor: use unplugin-icons
  app/components/Header/Header.tsx
  app/routes/_cd.about/features/SocialLink/SocialLink.stories.tsx
  app/routes/_cd.about/features/SocialLink/SocialLink.tsx
  app/routes/_cd.about/route.tsx
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: npm run lint:fix, npm run fmt

refactor: use unplugin-icons (#823)
  app/components/Header/Header.tsx
  app/routes/_cd.about/features/SocialLink/SocialLink.stories.tsx
  app/routes/_cd.about/features/SocialLink/SocialLink.tsx
  app/routes/_cd.about/route.tsx
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vite.config.ts
Due: npm run lint:fix, npm run fmt

fix: fix lint error
  app/root.tsx
  functions/[[path]].ts
Due: npm run lint:fix

chore: fix comment
  functions/[[path]].ts
Due: npm run lint:fix

fix: fix lint error (#838)
  app/root.tsx
  functions/[[path]].ts
Due: npm run lint:fix

chore: fix tsc error
  app/tests/about.test.ts
  app/tests/root.test.ts
  package.json
  pnpm-lock.yaml
  templates/tests/route.test.ts.hbs
Due: npm run lint:fix, npm run fmt

chore: fix some deps and directories
  .github/workflows/ci.yml
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  templates/tests/route.test.ts.hbs
  tests/about.test.ts
  tests/root.test.ts
  tests/utils.ts
Due: npm run lint:fix, npm run fmt

fix(build): update renovate config
  .github/renovate.json
Due: npm run fmt

fix(build): update renovate config (#943)
  .github/renovate.json
Due: npm run fmt

build: update renovate config
  .github/renovate.json
Due: npm run fmt

build: remove lightningcss
  package.json
  pnpm-lock.yaml
Due: npm run fmt

ci(build): deploy storybook workflows
  .github/workflows/dev-deploy.yml
  .github/workflows/release.yml
  .gitignore
  .storybook/manager.ts
  .storybook/preview-head.html
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: npm run lint:fix, npm run fmt

build: fix plop template
  plopfile.js
  templates/components/component.test.tsx.hbs
Due: npm run lint:fix

fix: fix cf pages project
  .github/workflows/dev-deploy.yml
  .github/workflows/release.yml
Due: npm run fmt

ci(build): deploy storybook workflows (#1002)
  .github/renovate.json
  .github/workflows/dev-deploy.yml
  .github/workflows/release.yml
  .gitignore
  .storybook/manager.ts
  .storybook/preview-head.html
  package.json
  plopfile.js
  pnpm-lock.yaml
  templates/components/component.test.tsx.hbs
  vite.config.ts
Due: npm run lint:fix, npm run fmt

fix: fix viewport
  app/root.tsx
Due: npm run lint:fix

fix: fix viewport (#1014)
  app/root.tsx
Due: npm run lint:fix

chore: format code
  app/routes/_cd.about/route.tsx
Due: npm run lint:fix

feat: add temporal and la json
  package.json
  pnpm-lock.yaml
Due: npm run fmt

feat: add blog link
  app/components/Header/Header.tsx
  app/routes/_cd.about/route.tsx
  package.json
  pnpm-lock.yaml
Due: npm run lint:fix, npm run fmt

feat: add loader and action template
  plopfile.js
  templates/handlers/action.ts.hbs
  templates/handlers/loader.ts.hbs
Due: npm run lint:fix

feat: impl timeline page
  app/routes/_cd.timeline/features/Timeline/Timeline.stories.ts
  app/routes/_cd.timeline/features/Timeline/Timeline.tsx
  app/routes/_cd.timeline/features/Timeline/index.ts
  app/routes/_cd.timeline/features/TimelineItem/TimeLineItem.stories.ts
  app/routes/_cd.timeline/features/TimelineItem/TimelineItem.tsx
  app/routes/_cd.timeline/features/TimelineItem/index.ts
  app/routes/_cd.timeline/handlers/index.ts
  app/routes/_cd.timeline/handlers/loader.ts
  app/routes/_cd.timeline/route.tsx
  pnpm-lock.yaml
  tests/timeline.test.ts
Due: npm run lint:fix, npm run fmt

ci: update lighthouse ci
  .github/workflows/lighthouse.yml
Due: npm run fmt

refactor: fix story file
  app/routes/_cd.timeline/features/TimelineItem/TimeLineItem.stories.tsx
Due: npm run lint:fix

chore: add changeset
  .changeset/tasty-cameras-flow.md
Due: none

feat: impl timeline page (#1065)
  .changeset/tasty-cameras-flow.md
  .github/workflows/lighthouse.yml
  app/components/Header/Header.tsx
  app/routes/_cd.about/route.tsx
  app/routes/_cd.timeline/features/Timeline/Timeline.stories.ts
  app/routes/_cd.timeline/features/Timeline/Timeline.tsx
  app/routes/_cd.timeline/features/Timeline/index.ts
  app/routes/_cd.timeline/features/TimelineItem/TimeLineItem.stories.tsx
  app/routes/_cd.timeline/features/TimelineItem/TimelineItem.tsx
  app/routes/_cd.timeline/features/TimelineItem/index.ts
  app/routes/_cd.timeline/handlers/index.ts
  app/routes/_cd.timeline/handlers/loader.ts
  app/routes/_cd.timeline/route.tsx
  package.json
  plopfile.js
  pnpm-lock.yaml
  templates/handlers/action.ts.hbs
  templates/handlers/loader.ts.hbs
  tests/timeline.test.ts
Due: npm run lint:fix, npm run fmt

fix: fix og meta tag
  app/root.tsx
Due: npm run lint:fix

fix: fix og meta tag (#1243)
  app/root.tsx
Due: npm run lint:fix

feat: refactor timeline page with using content-collections
  .gitignore
  app/routes/_cd.timeline/handlers/loader.ts
  app/routes/_cd.timeline/route.tsx
  content-collections.ts
  contents/timeline/abematv.md
  contents/timeline/admission.md
  contents/timeline/born.md
  contents/timeline/c-style.md
  contents/timeline/cyber-agent.md
  contents/timeline/hack-u-kosen-2021.md
  contents/timeline/kosen-fes-2022.md
  contents/timeline/kyoso.md
  contents/timeline/two-gate.md
  contents/timeline/v-tokyo-21.md
  contents/timeline/wsh-2022-for-students.md
  contents/timeline/wsh-2023.md
  contents/timeline/wsh-2024.md
  package.json
  plopfile.js
  pnpm-lock.yaml
  templates/contents/timeline.md.hbs
  tsconfig.json
  vite.config.ts
Due: npm run lint:fix, npm run fmt

refactor: fix meta override issue
  app/root.tsx
  app/routes/_cd.about/route.tsx
  app/routes/_cd.timeline/route.tsx
Due: npm run lint:fix

chore: wrote changeset
  .changeset/empty-lions-yawn.md
Due: none

ci: add build phase to type test
  .github/workflows/ci.yml
Due: npm run fmt

feat: refactor timeline page with using content-collections (#1245)
  .changeset/empty-lions-yawn.md
  .github/workflows/ci.yml
  .gitignore
  app/root.tsx
  app/routes/_cd.about/route.tsx
  app/routes/_cd.timeline/handlers/loader.ts
  app/routes/_cd.timeline/route.tsx
  content-collections.ts
  contents/timeline/abematv.md
  contents/timeline/admission.md
  contents/timeline/born.md
  contents/timeline/c-style.md
  contents/timeline/cyber-agent.md
  contents/timeline/hack-u-kosen-2021.md
  contents/timeline/kosen-fes-2022.md
  contents/timeline/kyoso.md
  contents/timeline/two-gate.md
  contents/timeline/v-tokyo-21.md
  contents/timeline/wsh-2022-for-students.md
  contents/timeline/wsh-2023.md
  contents/timeline/wsh-2024.md
  package.json
  plopfile.js
  pnpm-lock.yaml
  templates/contents/timeline.md.hbs
  tsconfig.json
  vite.config.ts
Due: npm run lint:fix, npm run fmt

build: fix terser option
  vite.config.ts
Due: npm run lint:fix
